<div class="container">
	<form class="col-md-6" action="addPlan" method="post">
		<br>
	    {{#if msg}}
	    <div class="alert alert-success alert-dismissible fade show" role="alert">
	      {{msg}}
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </div>
	    {{/if}}
		<h4>Add Plan</h4>
		<br>
	  <div class="form-group">
	    <label for="exampleInputName">Plan Name</label>
	    <input type="text" class="form-control" id="exampleInputName" name="pname" placeholder="Enter name" required>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputCharges">Charges (per annum)</label>
	    <input type="text" class="form-control" id="exampleInputCharges" name="charges" placeholder="Charges" required>
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary float-right">Submit</button>
	</form>
</div>