<div class="container">
	<br><br>
	<form action="submitOtp" method="post" class="col-md-6">
  		<h4>Match OTP</h4>
  		<br>
  		<b>Please check your email for a message with your code. Your code is 5 digits long</b>
  		<br><br>
      <div class="form-group">
  	    	<!-- <label for="inputOtp">Enter Otp</label> -->
  	    	<input type="text" class="form-control" id="inputOtp" placeholder="Enter Otp">
  	    	<div id="form-danger-msg">
  	    		<div class="danger-msg">Enter correct otp</div>
  	    		<br>
  			</div>
  		</div>
		<input type="hidden" id="sentOtp" value="{{otp}}">
    <input type="hidden" name="id" value="{{id}}">
    <br>
		<button id="pwd-btn" type="submit" class="btn btn-primary float-right">Submit</button>
	</form>
</div>
<script type="text/javascript">
  $(document).ready(function() {
  	$("#form-danger-msg").hide();
  	$("form").submit(function() {
      var otp = $("#inputOtp").val();
      var otp2 = $("#sentOtp").val();
      var flag = true;
      if(otp != otp2) {
        $("#inputOtp").val("");
        $("#form-danger-msg").show();
        flag = false;
      }
      return flag;
    });
  });
</script>