<div class="container">
	<br><br>
	<form action="submitId" method="post" class="col-md-6">
  	<h4>Find ID</h4>
  	<br>
		<div class="form-group">
	    	<label for="inputId">Enter Your Id</label>
	    	<input type="text" class="form-control" id="inputId" name="id" placeholder="Enter Id">
	    	{{#if msg}}
      		<div id="msg">
	    		<div class="danger-msg">Id not found</div>
	    		<br>
	   		</div>
      		{{/if}}
		</div>
    	<br>
		<button id="pwd-btn" type="submit" class="btn btn-primary float-right">Submit</button>
	</form>
</div>