<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://use.fontawesome.com/c01a845500.js"></script>
	<title>Server Management CMS</title>
</head>
<body class='custom-body'>
	{{{body}}}
</body>
</html>