<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="icon" type="icon/jpg" href="/images/fevicon.png">
		<script src="https://use.fontawesome.com/c01a845500.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>Server Management CMS</title>
	</head>
	<body class='custom-body'>
		{{{body}}}
	</body>
</html>