<div class="container">
	<br><br><br>
	<div class="card" style="max-width: 40rem;">
		<h4 class="card-header">Enter New Password</h4>
		<br>
		<div class="card-body">
			<form class="col-md-12" action="submitPwd" method="post">
				<div class="form-group col-md-7">
				    <label for="inputNewPassword">Enter New Password</label>
				    <input type="password" class="form-control" id="inputNewPassword" name="nPwd" placeholder="Enter New" required>
				</div>
				<div class="form-group col-md-7">
				    <label for="inputReNewPwd">Re Enter New Password</label>
				    <input type="password" class="form-control" id="inputReNewPwd" name="rPwd" placeholder="Re Enter new Passord" required>
			    	<div id="form-danger-msg">
			    		<div class="danger-msg">Re-Enter correct password</div>
			    		<br>
					</div>
				</div>
				<input type="hidden" name="id" value="{{id}}">
				<button type="submit" class="btn btn-primary float-right">Submit</button>
				<br><br>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
  	$("#form-danger-msg").hide();
  	$("form").submit(function() {
      var pwd = $("#inputNewPassword").val();
      var pwd2 = $("#inputReNewPwd").val();
      var flag = true;
      if(pwd != pwd2) {
        $("#inputNewPassword").val("");
        $("#inputReNewPwd").val("");
        $("#form-danger-msg").show();
        flag = false;
      }
      return flag;
    });
  });
</script>