<br>
<div class="form-row">
  <div class="form-group col-md-4">
    <input id="myInput" type="text" class="form-control form-control-sm col-sm-10" placeholder="Search..">
  </div>
  <div class="form-group col-md-5 row">
    <label for="filters" class="col-sm-3 col-form-label col-form-label-sm">Search by:</label>
    <div class="col-sm-8">
      <select id="filters" name="filters" class="form-control form-control-sm">
        <option value="none">None</option>
        <option value="upcoming">Upcoming expiry</option>
        <option value="currentMonth">Current month expiry</option>
      </select>
    </div>
  </div>
</div>
<table class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Domain Name</th>
      <th scope="col">Plan</th>
      <th scope="col">Domain taken?</th>
      <th scope="col">Register Date</th>
      <th scope="col">Time Period</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">Domain Charges</th>
      <th scope="col">Hosting Charges</th>
      <th scope="col">Total Charges</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="myTable">
  </tbody>
</table>
<br>
<script>
$(document).ready(function(){
  var filterBy;
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  function setRows(response) {
    let data = '';
    for (var i = 0; i < response.length; i++) {
      data = data + "<tr>" +
                      "<td>" + response[i].cname + "</td>" +
                      "<td>" + response[i].domain_name + "</td>" +
                      "<td>" + response[i].name + "</td>" +
                      "<td>" + ((response[i].domain_taken == 1) ? 'Yes':'No') + "</td>" +
                      "<td>" + response[i].register_date.substr(0, 10) + "</td>" +
                      "<td>" + response[i].time_period + " yrs</td>" +
                      "<td>" + response[i].expiry_date.substr(0, 10) + "</td>" +
                      "<td>" + response[i].domain_charges + "</td>" +
                      "<td>" + response[i].charges + "</td>" +
                      "<td>" + response[i].total_charges + "</td>" +
                      "<td><a href='/editAccount?id=" + response[i].id + "'><i class='fa fa-pencil fa-lg' aria-hidden='true'></i></a>&nbsp<a href='/deleteAccount?id=" + response[i].id + "'><i class='fa fa-trash fa-lg' aria-hidden='true'></i></a></td>" +
                    "</tr>";
    }
    $('#myTable').html(data);
  }
  function fetchRows() {
    filterBy = $("#filters").val();
    $.ajax({
      url: 'getMonthRows',
      data: 'filter=' +filterBy,
      type: 'get',
      success: response => setRows(response)
    });
  }
  fetchRows();
  $("#filters").change(function() {
    $('input:text').val('');
    fetchRows();
  });
});
</script>